Urban Data Science & Smart Cities <br>
URSP688Y Spring 2025<br>
Instructor: Chester Harvey <br>
Urban Studies & Planning <br>
National Center for Smart Growth <br>
University of Maryland

# Demo 4 - Loading and Joining Data From Files

- Table gymnastics (a.k.a., data wrangling)
    - Load data from a CSV
    - Practice exploring the data
    - Convert dates stored as strings to `datetime` data types
    - Drop duplicate rows
    - Count rows withing groups
    - Concatenate tables
    - Join columns from another table
- Debugging

In [1]:
# Import packages
import pandas as pd

## Loading Data from a File

Let's get our hands on some real-world data by loading a table from a file.

Let's load data from the [Maryland Eviction Case Database](https://opendata.maryland.gov/Housing/District-Court-of-Maryland-Eviction-Case-Data/mvqb-b4hf/data).

A CSV file that is stored in the same directory as our notebook can be opened by entering just the file name as an argument to `pd.read_csv`.

In [22]:
df = pd.read_csv('District_Court_of_Maryland_Eviction_Case_Data_MG_PG.csv')
df['Event Date'] = pd.to_datetime(df['Event Date'])
df['Tenant ZIP Code'] = df['Tenant ZIP Code'].astype('Int64')

Let's practice navigating and doing some analysis with our DataFrame.

Preview the dataframe

In [23]:
df.head()

,Unnamed: 0,Event Date,Event Type,Event Comment,County,Location,Tenant City,Tenant State,Tenant ZIP Code,Case Type,Case Number,Evicted Date,Event Year,Eviction Year
0,0,2023-01-03,Warrant of Restitution - Return of Service - E...,NaN,Montgomery,Rockville,Silver Spring,MD,20910,Failure to Pay Rent,D-061-LT-22-004107,12/08/2022,2023.0,2022.0
1,1,2023-01-03,Warrant of Restitution - Return of Service - E...,NaN,Montgomery,Rockville,Silver Spring,MD,20910,Failure to Pay Rent,D-061-LT-22-000755,12/08/2022,2023.0,2022.0
2,2,2023-01-03,Warrant of Restitution - Return of Service - E...,NaN,Montgomery,Rockville,Bethesda,MD,20814,Failure to Pay Rent,D-061-LT-22-000816,12/07/2022,2023.0,2022.0
3,3,2023-01-03,Warrant of Restitution - Return of Service - E...,NaN,Montgomery,Rockville,Silver Spring,MD,20902,Failure to Pay Rent,D-061-LT-22-006362,12/08/2022,2023.0,2022.0
4,4,2023-01-03,Warrant of Restitution - Return of Service - E...,NaN,Montgomery,Rockville,Rockville,MD,20850,Failure to Pay Rent,D-061-LT-22-004268,12/07/2022,2023.0,2022.0

How many rows does it have?

In [5]:
len(df)

96077

What columns does it have?

In [8]:
df.columns.tolist()

['Unnamed: 0',
 'Event Date',
 'Event Type',
 'Event Comment',
 'County',
 'Location',
 'Tenant City',
 'Tenant State',
 'Tenant ZIP Code',
 'Case Type',
 'Case Number',
 'Evicted Date',
 'Event Year',
 'Eviction Year']

Which counties are represented?

In [10]:
df['County'].value_counts()

County
Prince George's    67003
Montgomery         29074
Name: count, dtype: int64

What is the earlist date?

Is this true?

In [16]:
df['Event Date'].iloc[0]

'01/03/2023'

Convert the event date column to a `datetime` data type

In [18]:
df['Event Date'] = pd.to_datetime(df['Event Date'])

In [21]:
df.sort_values('Event Date')

,Unnamed: 0,Event Date,Event Type,Event Comment,County,Location,Tenant City,Tenant State,Tenant ZIP Code,Case Type,Case Number,Evicted Date,Event Year,Eviction Year
0,0,2023-01-03,Warrant of Restitution - Return of Service - E...,NaN,Montgomery,Rockville,Silver Spring,MD,20910.0,Failure to Pay Rent,D-061-LT-22-004107,12/08/2022,2023.0,2022.0
20,20,2023-01-03,Warrant of Restitution - Return of Service - E...,NaN,Montgomery,Rockville,Silver Spring,MD,20901.0,Tenant Holding Over,D-06-CV-22-010697,09/26/2022,2023.0,2022.0
19,19,2023-01-03,Warrant of Restitution - Return of Service - E...,NaN,Montgomery,Rockville,Silver Spring,MD,20902.0,Failure to Pay Rent,D-061-LT-21-003162,12/06/2022,2023.0,2022.0
18,18,2023-01-03,Warrant of Restitution - Return of Service - E...,NaN,Montgomery,Rockville,Silver Spring,MD,20902.0,Failure to Pay Rent,D-061-LT-22-003279,12/06/2022,2023.0,2022.0
17,17,2023-01-03,Warrant of Restitution - Return of Service - E...,NaN,Montgomery,Rockville,Silver Spring,MD,20902.0,Failure to Pay Rent,D-061-LT-21-003153,12/06/2022,2023.0,2022.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93963,93963,2024-12-31,Petition - For Warrant of Restitution Filed,EWRIT::Warrant of Restitution,Montgomery,Rockville,SILVER SPRING,MD,20906.0,Failure to Pay Rent,D-06-LT-24-39752-014,NaN,2024.0,NaN
93964,93964,2024-12-31,Petition - For Warrant of Restitution Filed,EWRIT::Warrant of Restitution,Montgomery,Rockville,SILVER SPRING,MD,20906.0,Failure to Pay Rent,D-06-LT-24-39752-031,NaN,2024.0,NaN
92198,92198,2024-12-31,Warrant of Restitution - Return of Service - C...,MOVED,Montgomery,Rockville,Silver Spring,MD,20906.0,Failure to Pay Rent,D-06-LT-24-20898-017,NaN,2024.0,NaN
93947,93947,2024-12-31,Petition - For Warrant of Restitution Filed,OFFIT::Warrant of Restitution,Montgomery,Rockville,Silver Spring,MD,20904.0,Failure to Pay Rent,D-06-LT-24-39377-013,NaN,2024.0,NaN
96076,96076,2024-12-31,Petition - For Warrant of Restitution Filed,LIVE CHECK RECEIVED FOR $40 - #2237,Prince George's,Hyattsville,UPPER MARLBORO,MD,20774.0,Failure to Pay Rent,D-051-LT-24-001524,NaN,2024.0,NaN

How many unique cases are there?

In [ ]:
df = df.sort_values('Event Date', ascending=True)
df = df.drop_duplicates(subset='Case Number', keep='first')

How many unique cases per zip code?

In [61]:
# Count cases within each zip code
event_counts = df.groupby('Tenant ZIP Code')['Case Number'].count()
event_counts = pd.DataFrame(event_counts).reset_index()
event_counts = event_counts.rename(columns={'Tenant ZIP Code':'event_zip', 'Case Number':'event_count'})

In [62]:
event_counts.head()

   event_zip  event_count
0          0            3
1      19802            1
2      20001            2
3      20010            1
4      20011            2

In [ ]:
# Convert results to a dataframe with a column for zip and a column for cases

# ! Convert to dataframe and clean up columns

Which zip codes have the most unique cases per person?

Let's join data from [CensusReporter](https://censusreporter.org/).

### Combining/Merging/Joining Tables

Combining information from multiple tables into a single table is one of the most useful data wrangling operations.

There are lots of different ways to join tables, but two basic types are:

1. Joining column with a shared key, which outputs a table that is wider than either input.
2. Concatenating rows with shared column names, which outputs a table that is longer than either input.

#### Joining columns based on a key

![joining columns with a shared key](https://rforhr.com/horizontal_join.png)


#### Concatenating rows with the same column names
![joining rows with shared column names](https://rforhr.com/vertical_join.png)

First, let's concatenate census tables for Montgomery and Prince George's county to make a single table with populations for each zip code.

Then, we'll merge counts of eviction cases onto each zip code.

Finally, we'll calcuate the number of eviction cases per capita.

In [42]:
# Load census reporter data, ignoring the row with data for the whole county (first row under the header)
def load_census_reporter_csv(path):
    return pd.read_csv(path, skiprows=[1])

df_census_mg = load_census_reporter_csv('acs2023_5yr_B01003_mg.csv')
df_census_pg = load_census_reporter_csv('acs2023_5yr_B01003_pg.csv')

In [49]:
# Combine into a single dataframe
df_census = pd.concat([df_census_mg, df_census_pg], axis=0)

In [51]:
# Rename columns with readable names
df_census = df_census.rename(columns={'name':'census_zip', 'B01003001':'population'})
df_census = df_census.drop(columns=['B01003001, Error'])

In [66]:
event_counts.head()

   event_zip  event_count
0          0            3
1      19802            1
2      20001            2
3      20010            1
4      20011            2

In [67]:
df_census.head()

          geoid  census_zip  population
0  86000US20705       20705       28119
1  86000US20707       20707       36549
2  86000US20777       20777        3046
3  86000US20812       20812         314
4  86000US20814       20814       30822

In [69]:
# Merge the case counts onto the zip codes
event_counts = event_counts.merge(df_census, left_on='event_zip', right_on='census_zip')

In [72]:
# Calculate cases per capita
event_counts['events_per_pop'] = event_counts['event_count'] / event_counts['population']

In [74]:
event_counts.sort_values('events_per_pop')

,event_zip,event_count,geoid,census_zip,population,events_per_pop
76,21771,1,86000US21771,21771,32827,0.000030
42,20833,4,86000US20833,20833,7868,0.000508
40,20818,1,86000US20818,20818,1602,0.000624
20,20742,3,86000US20742,20742,4324,0.000694
3,20623,2,86000US20623,20623,2846,0.000703
...,...,...,...,...,...,...
25,20747,4495,86000US20747,20747,37924,0.118527
23,20745,3648,86000US20745,20745,29518,0.123586
9,20708,3710,86000US20708,20708,26599,0.139479
28,20770,5013,86000US20770,20770,28181,0.177886
24,20746,5490,86000US20746,20746,27494,0.199680

## Errors and debugging

Errors are frustrating and inevitable. Even professional programmers probably spend most of their time debugging.

Luckily, there are good tools and techniques for making debugging a little easier.

Despite these, you will probably nearly tear your hair out with some frequency, especially as a beginner. It will get better with time.

There are two types of errors in programming: logic and syntax. They both result in your program not achieving its goal, but the first may not be as easily detectable because the code may still run.

### Logic errors
These are issues with how you have approached or executed your problem. If your code runs but produces nonsensical results, there is probably a logic error. However, your erroneous code might also produce logical but *wrong* results; you might never notice until the problem has rippled downstream. It's best to address this proactively by planning your code well so it's less likely to be illogical, and writing readable code that can be easily reviewed.

Here's a logic error. Can you find it? (Hint: the issue is syntactical, but it's still a logic error because the code works without throwing an error.)

In [ ]:
def check_adult(age, cutoff=18):
    if age > cutoff:
        adult = False
    else:
        adult = True
    return adult

check_adult(20)

### Syntax errors
These are more obvious because your code will simply fail. There are lots of tools for figuring out where and why.

Error messages are usually the starting place for debugging a syntax error.

In [ ]:
def check_adult(age, cutoff=18):
    if age < cutoff:
        adult = False
    else:
        adult = True
    return adult

check_adult('20')

The error message tells us where the problem is located.

Sometimes, it can be helpful to turn on line numbers.
- In Colab: `Tools -> Settings -> Editor -> Show line numbers`
- In JupyterLab: `View -> Show Line Numbers`

The `ValueError` tells us that the issue is related to the value of a variable on this line, but it's still pretty vague.

Time to start [Googling](https://www.google.com/).

### Debugging
We can also use an "interactive debugger" to help diagnose our problem by stepping through the code one line at a time.

The debugger provides tools for setting "breakpoints" where the code will stop running temporarily, a table that shows the values of variables at that time, and buttons to start, stop, and step through the code.

https://jupyterlab.readthedocs.io/en/stable/user/debugger.html

In [ ]:
def check_adult(age, cutoff=18):
    if age < cutoff:
        adult = False
    else:
        adult = True
    return adult

check_adult(20)

## Style guidelines for Python
- At the very least, do things consistently
- One statement per line
- Try to limit line length to 72 characters
- Use four spaces to indent
- Put spaces around operators (e.g., `1 + 1` or `day = 'Monday'`) (except in keyword function arguments)
- Use blank lines intentionally and consistently
- Use meaningful names
- Name variables and functions with `lowercase_underscores`
- Constants are often named in `ALL_CAPS_WITH_UNDERSCORES` (e.g., `C = 2.99792458e+8`)
- Name custom classes with `CapWords`
- In general, avoid spaces in folder and filenames used for programming

See [Code Readability](https://github.com/ncsg/ursp688y_sp2024/blob/main/README.md#code-readability) on the syllabus. [CS61A](https://cs61a.org/articles/composition/) has an excellent composition guide. [PEP 8](https://peps.python.org/pep-0008/) is a standard Python style guide. [Google](https://google.github.io/styleguide/pyguide.html) publishes their internal Python style guide.