In [ ]:
Urban Data Science & Smart Cities <br>
URSP688Y Spring 2025<br>
Instructor: Chester Harvey <br>
Urban Studies & Planning <br>
National Center for Smart Growth <br>
University of Maryland

# Demo 2 - Development Environment & More Programming Fundamentals

- Conda/Jupyter Setup
- Hands-On Intro to Notebooks
- Intro to programming (with Python)
    - Review: variables, operators, and basic data types
    - Composite data types
        - Lists
        - Dictionaries
    - Conditions and loops
    - Errors and debugging

## Conda & Jupyter Setup

We're going to run Python on our computers using Conda, an open-source system for managing Python environments.

We're going to use a distribution of Conda called [Miniconda (scroll down)](https://www.anaconda.com/download/success) that is designed to take up minimal space on your computer. It doesn't come with a bunch of additional junk.

We'll install JupyterLab in a Conda environment and use it to open Jupyter notebooks, where we'll do our programming.

### Initial Setup 

1. Download [Miniconda (scroll down)](https://www.anaconda.com/download/success)
2. Open command line:
    - In Windows: Anaconda Prompt (**not** the regular Windows command prompt)
    - In MacOS: Terminal
3. Make a new environment by typing or copying this prompt:
    - `conda create -n 688y jupyterlab` [Enter]
    - This will make a new environment named `688y` with the latest stable version of `jupyterlab` installed on it
    - You can find complete [documentation for managing conda environments here](https://docs.conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html)
4. Activate your environment by typing or copying this prompt:
    - `conda activate 688y` [Enter]
5. Start JupyterLab by typing or copying this prompt:
    - `jupyter lab` [Enter]
  
### Regular Startup
1. Open command line:
    - In Windows: Anaconda Prompt (**not** the regular Windows command prompt)
    - In MacOS: Terminal
        - Shortcut: In GitHub Desktop, right-click on repo in sidebar and click [Open in Terminal]
- Optional `cd` into the directory you're working in:
    - In Windows:
        - Copy your directory path from Explorer or GitHub Desktop
        - In the Anaconda Prompt, type `cd`, add a space, then paste the path [Enter]
    - In MaOS:
        - Right-click on your directory, press [Option] on keyboard, and click [Copy "..." as Pathname]
        - In the Anaconda Prompt, type `cd`, add a space, then paste the path [Enter]
2. Activate your environment by typing or copying this prompt:
    - `conda activate 688y` [Enter]
3. Start JupyterLab by typing or copying this prompt:
    - `jupyter lab` [Enter]

### Notebooks in JupyterLab

Text cells in [Markdown](https://www.markdownguide.org/basic-syntax/)

In [1]:
# Code cells to execute Python

# ! Write a hello world program

### Keyboard Shortcuts

To execute a cell:
- [Shift] + [Enter] executes and goes to next cell (cycle through notebook one cell at a time)
- [Ctrl] + [Enter] executes and stays on same cell

There are [***a lot*** more keyboard shortcuts](https://towardsdatascience.com/jypyter-notebook-shortcuts-bf0101a98330).

In [2]:
# Code cells preview the last line——often synonymous with 'print'
name = 'Alex'
name

'Chester'

In [2]:
# Code cells preview the last line——often synonymous with 'print'
name = 'Alex'
name

'Chester'

For simplicity, it's good practice to keep cells in the order they should be run. You can move them with the little up and down arrows on the right.

### Review

#### Variables

- Name-based storage containers
- Can be easily recalled
- Can usually be updated

In [7]:
name = 'Chester'
name

'Chester'

Variables can be recalled in a program.

In [10]:
day = 'Monday'
calendar_text = f'The day of the week is {day}'
calendar_text

'The day of the week is Monday'

#### [Operators](https://www.tutorialspoint.com/python/python_basic_operators.htm)

In [11]:
1 + 1

2

In [12]:
1 < 2

True

#### Basic Data Types

In [24]:
# String (text)
name = 'Chester'
print(name)
print(type(name))

Chester
<class 'str'>

In [21]:
# Integer
year = 2025
print(year)
print(type(year))

<class 'int'>

In [25]:
# Float (decimal)
miles = 6.37
print(miles)
print(type(miles))

6.37
<class 'float'>

In [26]:
# Boolean (true or false)
a_age = 10
b_age = 20
a_older = a_age > b_age
print(a_older)
print(type(a_older))

False
<class 'bool'>

### Composite Data Types

#### List
An ordered array of objects.

#### List
An ordered array of objects.

In [19]:
# ! Make a list of food items called fridge_contents
fridge_contents = ['apples','eggs','milk',3,7.098]
fridge_contents

['apples', 'eggs', 'milk', 3, 7.098]

In [ ]:
# ! make a list of food items
fridge_contents = ['apples']
fridge_contents

In [21]:
# You can add lists together

# ! Use + operator to add another list with more items to the end
fridge_contents = fridge_contents + ['bread','cheese']
fridge_contents

['apples', 'eggs', 'milk', 3, 7.098, 'bread', 'cheese', 'bread', 'cheese']

In [23]:
# Or append elements to a list

# ! Use .append() to add an item
fridge_contents.append('beer')
fridge_contents

['apples',
 'eggs',
 'milk',
 3,
 7.098,
 'bread',
 'cheese',
 'bread',
 'cheese',
 'beer',
 'beer']

In [8]:
# Or remove things

# ! Use .remove() to remove an item
fridge_contents.remove('eggs')

In [8]:
# Or remove things

# ! Use .remove() to remove an item
fridge_contents.remove('eggs')

In [25]:
# You can look things up in a list by index number, starting with 0
fridge_contents[-1]
# ! Index into the list with a position

'beer'

In [29]:
# Or get a slice from a list
fridge_contents[:3]
# ! Get a slice with [:X] index

['apples', 'eggs', 'milk']

#### Dictionary

Labeled data stored as key-value pairs.

*Note*: Dictionaries used to be unordered, but as of Python 3.6 they technically maintain their order. Lists are still usually preferred when order matters. There's also something called an [ordered dictionary](https://realpython.com/python-ordereddict/), which makes it more explicit that you care about order and can make it easier to manage/change order.

In [2]:
# ! make a dictionary
fav_colors = {
    'Sam':'blue',
    'David':'red',
    'Cole':'blue',
    'Nancy':'yellow' 
    
}

In [3]:
# You can add an element to a dictionary by assigning a new key
fav_colors['Huan'] = 'pink'
# ! add an element

In [31]:
# And remove one
fav_colors.pop('Sam')
# ! remove an element with .pop()

'blue'

In [32]:
# And look up a value through its key
fav_colors
# ! look up a value

{'David': 'red', 'Cole': 'blue', 'Nancy': 'yellow'}

### Programming logic

Now that we've got basic building blocks, we can *do* things with them.

This requires programming logic: using logical statements to control the flow of our code in productive ways.

#### [Conditions](https://realpython.com/python-conditional-statements/)

In [39]:
# ! write a conditional statement that determines whether an age is adult
age = 30
teen_age = 13
adult_age = 22

if age >= adult_age:
    print('adult')
elif age >= teen_age:
    print('teen')
else:
    print('chid')

adult

#### Loops

Loops can iterate through composite data, like lists and dictionaries.

'For' loops are the most common type used in data science.

In [42]:
# ! loop through a list of ages to determine if an adult
ages = [30,55,33,66,11,2]
for age in ages:
    if age >= adult_age:
        print('adult')
    elif age >= teen_age:
        print('teen')
    else:
        print('chid')

adult
adult
adult
adult
chid
chid

In [46]:
#! look through a dictionary of names with ages to determine if an adult
named_ages = {
    'Ned':84,
    'Sal':30,
    }
for name in named_ages:
    age = named_ages[name]
    if age >= adult_age:
        print(f'{name} is an adult')
    else:
        Print(f'{name} is an teen')

Ned is an adult
Sal is an adult

### Functions

Functions are pre-defined programming components that do things. Often, they take inputs and produce outputs.

<img src="https://miro.medium.com/v2/resize:fit:880/0*xMEO8AbXwdsgnHSH.png" alt="Diagram of a function with input and output" width="400"/>

- Some basic functions are built-in to Python (e.g., `print`)

- We can write our own custom functions.

- We can use custom functions other people have written.

In [3]:
# Let's write a function that takes an age as input and tells us whether a person is an adult
age = 20

def check_adult(age):
    if age <18:
        adult = False
    else:
        adult = True
    return adult




# ! write a function to determine if an age is adult

function

In [ ]:
type(check_adult)

In [4]:
check_adult(20)

True

In [9]:
 # write a function with two arguments
def check_adult2(name, age):
    if age <18:
        status = 'a child'
    else:
        status = 'an adult'
    return f'{name} is {status}'

In [10]:
check_adult2('Huan', 26)

'Huan is an adult'

In [20]:
# ! call the function

In [21]:
# ! call the function in a loop for the list of ages

In [2]:
# open terminal
# conda activate 688y
# conda install pandas
import pandas as pd

In [3]:
columnwise_data = {
    'english': {'Daniela': 83, 'Zoe': 97, 'Rowen': 77, 'Jude': 95, 'Austin': 87, 'Jasper': 92, 'Liora': 88, 'Kieran': 72},
    'math': {'Daniela': 95, 'Zoe': 83, 'Rowen': 73, 'Jude': 80, 'Austin': 100, 'Jasper': 94, 'Liora': 89, 'Kieran': 96},
    'science': {'Daniela': 90, 'Zoe': 87, 'Rowen': 95, 'Jude': 73, 'Austin': 80, 'Jasper': 99, 'Liora': 87, 'Kieran': 90},
    'school':{'Daniela': 'Fairview', 'Zoe': 'New Vista', 'Rowen': 'Fairview', 'Jude': 'New Vista', 'Austin': 'New Vista', 'Jasper': 'Fairview', 'Liora': 'New Vista', 'Kieran': 'Fairview'},
}

df = pd.DataFrame(columnwise_data)
df

         english  math  science     school
Daniela       83    95       90   Fairview
Zoe           97    83       87  New Vista
Rowen         77    73       95   Fairview
Jude          95    80       73  New Vista
Austin        87   100       80  New Vista
Jasper        92    94       99   Fairview
Liora         88    89       87  New Vista
Kieran        72    96       90   Fairview

In [4]:
df.head()

         english  math  science     school
Daniela       83    95       90   Fairview
Zoe           97    83       87  New Vista
Rowen         77    73       95   Fairview
Jude          95    80       73  New Vista
Austin        87   100       80  New Vista

In [10]:
#help(df.head())

In [7]:
df.columns.tolist()

['english', 'math', 'science', 'school']

In [9]:
df.columns

Index(['english', 'math', 'science', 'school'], dtype='object')

In [12]:
df.value.count('school')

AttributeError: 'DataFrame' object has no attribute 'value'

In [11]:
df['school']

Daniela     Fairview
Zoe        New Vista
Rowen       Fairview
Jude       New Vista
Austin     New Vista
Jasper      Fairview
Liora      New Vista
Kieran      Fairview
Name: school, dtype: object

In [13]:
df.loc['Daniela']

english          83
math             95
science          90
school     Fairview
Name: Daniela, dtype: object

In [14]:
df.iloc[0]

english          83
math             95
science          90
school     Fairview
Name: Daniela, dtype: object

In [15]:
df.iloc[0:5]

         english  math  science     school
Daniela       83    95       90   Fairview
Zoe           97    83       87  New Vista
Rowen         77    73       95   Fairview
Jude          95    80       73  New Vista
Austin        87   100       80  New Vista

In [16]:
# Filtering
df.school == 'Fairview'

Daniela     True
Zoe        False
Rowen       True
Jude       False
Austin     False
Jasper      True
Liora      False
Kieran      True
Name: school, dtype: bool

In [17]:
df['school'] == 'Fairview'

Daniela     True
Zoe        False
Rowen       True
Jude       False
Austin     False
Jasper      True
Liora      False
Kieran      True
Name: school, dtype: bool

In [18]:
df[df['school']== 'Fairview']

         english  math  science    school
Daniela       83    95       90  Fairview
Rowen         77    73       95  Fairview
Jasper        92    94       99  Fairview
Kieran        72    96       90  Fairview

In [ ]:
df['english'].mean()

df.groupby('school').mean()

In [21]:
df.groupby('school')

### Errors and debugging

Errors are frustrating and inevitable. Even professional programmers probably spend most of their time debugging.

Luckily, there are good tools and techniques for making debugging a little easier.

Despite these, you will probably nearly tear your hair out with some frequency, especially as a beginner. It will get better with time.

There are two types of errors in programming: logic and syntax. They both result in your program not achieving its goal, but the first may not be as easily detectable because the code may still run.

#### Logic errors
These are issues with how you have approached or executed your problem. If your code runs but produces nonsensical results, there is probably a logic error. However, your erroneous code might also produce logical but *wrong* results; you might never notice until the problem has rippled downstream. It's best to address this proactively by planning your code well so it's less likely to be illogical, and writing readable code that can be easily reviewed.

Here's a logic error. Can you find it? (Hint: the issue is syntactical, but it's still a logic error because the code works without throwing an error.)

In [22]:
# ! make a logic error in the adult-finding condition

#### Syntax errors
These are more obvious because your code will simply fail. There are lots of tools for figuring out where and why.

Error messages are usually the starting place for debugging a syntax error.

In [23]:
# ! try to call the adult-finding function with string input

The error message tells us where the problem is located.

Sometimes, it can be helpful to turn on line numbers.
- In Colab: `Tools -> Settings -> Editor -> Show line numbers`
- In JupyterLab: `View -> Show Line Numbers`

The `ValueError` tells us that the issue is related to the value of a variable on this line, but it's still pretty vague.

Time to start [Googling](https://www.google.com/).

### Style guidelines for Python
- At the very least, do things consistently
- One statement per line
- Try to limit line length to 72 characters
- Use four spaces to indent
- Put spaces around operators (e.g., `1 + 1` or `day = 'Monday'`) (except in keyword function arguments)
- Use blank lines intentionally and consistently
- Use meaningful names
- Name variables and functions with `lowercase_underscores`
- Constants are often named in `ALL_CAPS_WITH_UNDERSCORES` (e.g., `C = 2.99792458e+8`)
- Name custom classes with `CapWords`
- In general, avoid spaces in folder and filenames used for programming

See [Code Readability](https://github.com/ncsg/ursp688y_sp2024/blob/main/README.md#code-readability) on the syllabus. [CS61A](https://cs61a.org/articles/composition/) has an excellent composition guide. [PEP 8](https://peps.python.org/pep-0008/) is a standard Python style guide. [Google](https://google.github.io/styleguide/pyguide.html) publishes their internal Python style guide.